<main>

    <section>
        <div class="work-box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="box-timer pt-3 pb-4">
                            <div class="box-timer-right d-flex justify-content-end">
                                <p>17:15:06 (GMT-0600) | Fecha : 27/03/2022</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="link-box">
                            <div class="single-link-box">
                                <div class="link-heading">
                                    <h4>Links de Pago</h4> 
                                </div>
                                <div class="link-name ms-sm-4">
                                    <h4>Innova FV, SA</h4>
                                </div>
                                <form action="payments/generatePaymentLink" method="post">
                                    <div class="moneda mb-3">
                                        <span>Moneda: </span>
                                        <select name="currency" id="mone">
                                            <option value="GTQ">GTQ</option>
                                            <option value="USD">USD</option>
                                        </select>
                                    </div>
                                    <div class="monto mb-3">
                                        <label for="mont">Monto: </label>
                                        <input name="value" type="text" value="">
                                    </div>
                                    <div class="cuenta mb-3">
                                        <span>Cuenta: </span>
                                        <select name="account" id="cuen">
                                            <% accounts.forEach(account => { %>
                                                <option value="<%=account.id%>"> <%=account.name + ' - Q' + account.value%> </option>
                                             <% }) %>
                                        </select>
                                    </div>
                                    <p class="mb-4">*Cuenta bancaria en donde desea recibir los fondos.</p>
                                    <% if (link != null ){ %>
                                        <input id='link' type="text" value='<%=link%>'>
                                        <button type="button" style='color:white;background-color:#e5002b' class="btn" onclick="myFunction()">Copiar </button>
                                    <% }else { %>
                                    <input class="submit" type="submit" value="Generar Link de Pago">

                                    <% } %>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("link");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

   /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.value);
    }
</script>